

html body {
    background-color: rgb(42, 42, 38);
    color: aliceblue;
    height: 100%;
}
a {
    color: aquamarine;
}
.spacersAndMainContainer {
    display: flex;
    flex-direction: row;
}
.allContentHolder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    flex-basis: 1000px;
}
.preamble {
    flex: 1;
}
.contentHolder {
    flex: 3;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    /* min-height: 100%; */
}
.spacer {
    flex: 1;
    /* min-width: 10em; */
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    min-width: 300px;
    max-width: 300px;
    /* min-height: 100%;
    max-height: 100%; */
    /* border: solid red 2px; */
    background-color: rgb(68, 50, 50);
}
.aboutImage {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}
.profilePic {
    height: 120px;
}
.profilePicSource {
    text-align: center;
}
.contactInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(74, 74, 68);
    padding 5px;
}
.contactInfo h3 {
    text-align: center;
}
.linkAboutMe {
    flex: 1;
    width: 90%;
    border: solid rgb(112, 79, 79) 2px;
    background-color: rgb(65, 52, 52);
    padding: 2px;
}
.skillsContainer {
    flex: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(66, 62, 52);
    padding: 5px;
}
.skillEven, .skillOdd {
    border: solid grey 2px;
    padding: 2px;
}
.skillOdd {
    flex: 1;
    background-color: rgb(80, 71, 61);
    width: 90%;
}
.skillEven {
    flex: 1;
    background-color: rgb(81, 65, 46);
    width: 90%;
}
.metaContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(53, 72, 65);
    /* min-width: 300px;
    max-width: 300px; */
}
.lastUpdate, .linkToWeb {
    flex: 1;
    width: 90%;
    padding: 2px;
}
/* .sidebarSpacer {
    align-items: stetch;
    background-color: blue;
} */

/* maintext */

.mainContentContainer {
    display: flex;
    flex-direction: column;
}

.mainText {
    flex: auto;
    flex-direction: column;
    min-width: 400px;
    /* max-width: 900px; */
}
.educationContainer {
    flex: 1;
    background-color: rgb(66, 77, 73);
    padding: 5px;
}
.educationDiv {
    flex: 1;
    border: solid rgb(35, 195, 142) 2px;
    margin: 1px;
    padding: 5px;
}
.experienceContainer {
    flex: 1;
    background-color: rgb(67, 51, 64);
    padding: 5px;
}
.experienceDiv {
    flex: 1;
    border: solid rgb(207, 106, 190) 2px;
    margin: 1px;
    padding: 5px;
}
.publicationsContainer {
    flex: 1;
    align-items: left;
    flex-direction: column;
    background-color: rgb(57, 62, 61);
    padding: 5px;
}
.publication1, .publication2 {
    flex: 1;
    border: solid green 2px;
    margin: 1px;
    padding: 5px;
}
footer {
    text-align: center;
}