body {
    background-color: beige;
}

.contentHolder {
    display: flex;
    flex-direction: row-reverse;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    max-width: 300px;
    min-height: 100%;
}
.aboutImage {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}
.profilePic {
    height: 120px;
}
.profilePicSource {
    text-align: center;
}
.contactInfo {
    flex: content;
    background-color: rgb(203, 203, 190);
    border: solid rgb(203, 203, 190) 5px;
}
.skillsContainer {
    flex: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(232, 217, 184);
    border: solid rgb(232, 217, 184) 5px;
}
.skillEven, .skillOdd {
    border: solid grey 2px;
    justify-content: center;
}
.skillOdd {
    flex: 1;
    background-color: bisque;
    width: 90%;
}
.skillEven {
    flex: 1;
    background-color: rgb(246, 198, 140);
    width: 90%;
}
.metaContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(201, 221, 214);
    border: solid rgb(201, 221, 214) 5px;
    min-width: 300px;
}


/* maintext */


.mainText {
    flex: auto;
    flex-direction: column;
}
.preamble {
    flex: 1;    
}
.educationContainer {
    flex: 1;
    background-color: aquamarine;
    border: solid aquamarine 5px;
}
.experienceContainer {
    flex: 1;
    background-color: rgb(248, 190, 238);
    border: solid rgb(248, 190, 238) 5px;
}
.publicationsContainer {
    flex: 1;
}