name: Jekyll local CI 

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the site in the jekyll/builder container
      run: |
        docker run \
        -v "$(pwd)":/srv/jekyll \
        -v "$(pwd)/_site":/srv/jekyll/_site \
        jekyll/builder:latest \
        /bin/bash -c "chmod -R 777 /srv/jekyll && jekyll build --future"

